@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;         /* Optional: normal, bold, etc. */
    font-style: normal;          /* Optional: normal, italic, etc. */
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;         /* Optional: normal, bold, etc. */
    font-style: normal;          /* Optional: normal, italic, etc. */
}
@font-face {
    font-family: 'Roboto Italic';
    src: url('fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;         /* Optional: normal, bold, etc. */
    font-style: italic;          /* Optional: normal, italic, etc. */
}
@font-face {
    font-family: 'Roboto Bold Italic';
    src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;         /* Optional: normal, bold, etc. */
    font-style: italic;          /* Optional: normal, italic, etc. */
}

body {
    background-color: #030617;
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('assets/background.png') center center fixed;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto Bold Italic', sans-serif;
    font-size: 64px;
    color: #dc612f;
    -webkit-text-stroke: 1px black;
    margin: auto;
}

h2 {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 36px;
    color: #9896ff;
    -webkit-text-stroke: 1px black;
    margin-top: auto;
    margin-bottom: auto ;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
}


.page-container {
    margin: auto;
    width: 60%;
    height: 100vh;
}

.navbar-separator {
    display: flex;
    flex-direction: row;
}

.main-content {
    background-color: #232a4a5d;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    flex: 1;

    border-color: #9896ffBB;
    border-width: 1px;
    border-style: solid;
}

.main-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-shadow: 
        1px 1px 0 #4b0cc9,
        -1px -1px 0 #4b0cc9,
        1px -1px 0 #4b0cc9,
        -1px 1px 0 #4b0cc9,
        3px 3px 0 #0e0621;
    margin-top: auto;
}


.main-content li {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-shadow: 
        1px 1px 0 #4b0cc9,
        -1px -1px 0 #4b0cc9,
        1px -1px 0 #4b0cc9,
        -1px 1px 0 #4b0cc9,
        3px 3px 0 #0e0621;
    margin-top: auto;
    margin-bottom: 10px;
    
}

.main-content img {
    border: 1px solid #9896ff;
    margin-bottom: 20px;
    align-self: center;
}

.sidebar {
    background: linear-gradient(to bottom, #232a4abb, #232a4a00);
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: #ffffff;

    border-color: #9896ffBB;
    border-width: 1px;
    border-style: solid;
}


.navbutton {
    background-color: #232a4a5d;
    color: #ffffff;
    border: none;
    padding: 4px 8px;
    margin: 5px 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #05050577;

}

.navbutton:hover {
    background-color: #3872cfb9;
}

.navbutton-text {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    text-shadow: 
        1px 1px 0 #4b0cc9,
        -1px -1px 0 #4b0cc9,
        1px -1px 0 #4b0cc9,
        -1px 1px 0 #4b0cc9,
        3px 3px 0 #0e0621;
}
.navbutton:hover .navbutton-text {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    text-shadow: 
        1px 1px 0 #2b38ed,
        -1px -1px 0 #2b38ed,
        1px -1px 0 #2b38ed,
        -1px 1px 0 #2b38ed,
        3px 3px 0 #0e0621;
}